<html>
  <body>

    <div class= "upper">
      <h2>full stack ruby developer in training</h2>
    </div>


    <div class = "center">
      <h2>my projects</h2>
        <div class= "apps">
            <% @projects.shuffle.each do |projects| %>
            <div class = "P1">
              <%= image_tag projects[:photo], class:"round" %>
                <p><%= projects[:p] %></p>
            </div>
          <% end %>
        </div>
    </div>


    <div class= "lower">
      <h2>Me</h2>
      <p>Hi! I'm Karen Hambro, a software developer in training at <%= link_to "Code Builders", "http://code.builders/", class: "a" %>. I have worked in the tech industry for quite a few years, most recently with <%= link_to 'Ada Developers Academy', 'http://adadevelopersacademy.org/', class: "a" %>. Having worked to place over 60 women in software development roles in local tech companies, it's now my turn to build, create, and start down the path of my own adventures in programming.
      <hr>

      <p>I spend my free time hanging out with my dogs, hanging out with other people's dogs, kayaking, brewing beer, taking photos, relaxing with friends and family, and dancing whenever possible.</p>

      <p class= "fortune">
        Your fortune for the day:
        <div class= "fortunes">
          <% f = FortuneCookie.new %>
        <i class="fa fa-quote-left fa-lg"></i>  <%= f.fortune %><i class="fa fa-quote-right fa-lg"></i>
        </div>
      </p>

    </div>











  </body>



</html>
